{% extends "base.html" %}
{% load static %}

{% block title %}
Movies
{% endblock title %}

{% block content %}
<h4>We have in our database {{counter_movies}} movie{{counter_movies|pluralize}}</h4>
<div class="row">
    {% for movie in genres %}
    <div class="col s12 m4">
        <div class="card hoverable">
            <div class="card-image">
                <img src="{{ movie.cover.url}}">
                <span class="card-title">{{movie.title}}</span>
            </div>
            <div class="card-content">
                <small><span title="Released">{{movie.release_date}}</span>, <span title="Duration">{{movie.converted_duration_time}}</span></small>
                <p>
                    {{movie.truncated_excerpt}}
                </p>
                <p style="margin-top: 20px;">
                    Genres: <small>
                        {% for genre in movie.genres.all %}
                            <a href="{% url 'movies:genre' genre.slug %}">{{genre.name}},</a>
                        {% endfor %}
                    </small>
                </p>
            </div>
            <div class="card-action right-align blue-grey darken-3">
                <a href="{% url 'movies:show' movie.slug %}">Check movie</a>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="s12">
        <h3>Any movie was not add.</h3>
    </div>
    {% endfor %}
</div>
<ul class="pagination">
    {% if genres.has_previous %}
        <li class="waves-effect"><a href="?page=1">&laquo; first</a></li>
        <li class="waves-effect"><a href="?page={{ genres.previous_page_number }}">previous</a></li>
    {% endif %}

        <li class="active"><a href="#!">Page {{ genres.number }} of {{ genres.paginator.num_pages }}.</a></li>

    {% if genres.has_next %}
        <li class="waves-effect"><a href="?page={{ genres.next_page_number }}">next</a></li>
        <li class="waves-effect"><a href="?page={{ genres.paginator.num_pages }}">last &raquo;</a></li>
    {% endif %}
  </ul>
{% endblock content %}
