{% extends "base.html" %}
{% load static %}

{% block title %}
Movies
{% endblock title %}

{% block content %}

<div class="card horizontal">
    <div class="card-image">
        <img src="{{ movie.cover.url}}" style="max-width: 100%; height: auto;">
    </div>
    <div class="card-stacked">
        <div class="card-content">
            <h3 style="margin-top: 0;">{{movie.title}}</h3>
            <small>{{movie.release_date}}, {{movie.converted_duration_time}}</small>
            <p>
                {{movie.description}}
            </p>
            <p style="margin-top: 20px;">
                Genres: <small>
                    {% for genre in movie.genres.all %}
                        <a href="{% url 'movies:genre' genre.slug %}">{{genre.name}},</a>
                    {% endfor %}
                </small>
            </p>
        </div>
        <div class="card-action">
            <a href="#">This is a link</a>
        </div>
    </div>
</div>

{% endblock content %}
